@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Luxurious+Roman&family=Playfair+Display&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Luxurious+Roman&family=Playfair+Display&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
main{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    /* margin: 0 auto; */
    margin-top: 20px;
    border-radius: 5px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}
.players .player{
    display: flex;
    align-items: center;
}
.players .player img{
    width: 56px;
    height: 56px;
}
.players .player h3{
    font-weight: 400;
    margin-left: 16px;
}
hr{
    border: 1px solid #562EFF;
    margin-top: 21px;
}
.blogs{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.top-blogs .blog-ti{
    margin:15px 0 0 0;
}
.blogs .blog{
    /* width: 45%; */
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.blogs .blog .thambnale img{
    width: 177px;
    height: 117px;
    margin-right: 16px;
    box-shadow: 5px 5px 8px gray;
    border-radius: 10px;
}
.blogs .blog .blog-title{
    font-weight: 500;
    /* margin-top: px; */
}
.blogs .blog .blog-author{
    font-size: 16px;
    font-weight: 100;
    margin-top: -8px;
}
.blogs .blog .blog-author a{
    text-decoration: none;
    color: #562EFF;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
}
.courses .course{
    box-shadow: 5px 5px 8px rgb(175, 167, 167);
    padding: 15px;
    border-radius: 5px;
}
.courses .course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-detail .course-title{
    font-size: 20px;
    font-family: roboto;
    font-weight: 500;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-info .fa-star{
    font-size: 13px;
}
.fa-star.filed{
    color: #FFC014;
}
.fa-star.empty{
    color:  #AEAEAE;
}


@media (max-width:688px) {
    .container{
        width: 90%;
        align-items: center;
    } 
    .container .section-title{
        text-align: center;
        text-shadow: 2px 2px 3px #9b98a8;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }   
    .players .player, .blog{
        justify-content: center;
        flex-direction: column;
    }
    .blogs .blog{
        align-items: flex-start;
    }

    .blogs,.courses{
        grid-template-columns: repeat(1, 1fr);
    } 
    .course{
        margin: 10px 20px;
    }
    .course .course-title{
        margin-bottom: 0;
    }
    .course .course-author{
        margin: 5px 0;
    }
}